@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --var-primary: #474747;
    --var-secondary: #333;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: "Work Sans", sans-serif;
    --third-font: "Source Sans 3", sans-serif;
    font-family: var(--third-font);

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

body,
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -99;
}

canvas {
    position: fixed;
}

h2 {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 2em;
    color: var(--var-primary);
}

p {
    font-family: var(--third-font);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--var-secondary);
}

.textGradient1 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #ff651d 0%, #dad61e 100%);
    background-clip: text;
    color: transparent;
}

.textGradient2 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #28e431 0%, #006e65 100%);
    background-clip: text;
    color: transparent;
}

.textGradient3 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #a442ff 0%, #234dbe 100%);
    background-clip: text;
    color: transparent;
}

.textGradient4 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #ff1b1b 0%, #4f017c 100%);
    background-clip: text;
    color: transparent;
}

.textGradient5 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #0049d1 0%, #50e5ff 100%);
    background-clip: text;
    color: transparent;
}

.text_hero {
    text-align: center;
    margin-top: 20px;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 3em;
    color: var(--var-primary);
}

.bg-gradient1 {
    background: linear-gradient(135deg, #6b35ff 0%, #76ff63 100%);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto auto;
    gap: 1rem;
    max-width: 100vw;
}

.main {
    grid-column: span 2;
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(5px);
    border: .2rem solid rgba(162, 0, 255, 0.103);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: start;

    padding: 1rem;
    gap: 1rem;
    width: min-content;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.295);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    text-decoration: none;
    align-content: center;
    border: .2rem solid rgba(17, 0, 255, 0.11);
    text-wrap: nowrap;
    height: min-content;
    width: min-content;
    align-self: unset;
    position: sticky;
    top: calc(0px + 2rem);
}

.contentresult {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.stepbystep {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.295);
    border: .2rem solid rgba(0, 255, 0, 0.103);
    border-radius: 1rem;
    overflow: hidden;
}

.formulario {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.ui {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}

.mep1 {
    background: linear-gradient(135deg, #ff1d1d 0%, #501616 100%);
}

.mep2 {
    background: linear-gradient(135deg, #123f18 0%, #00e600 100%);
}

.mep3 {
    background: linear-gradient(135deg, #fcd600 0%, #3d3c05 100%);
}

.mep {
    width: min-content;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    background-clip: text;
    text-wrap: nowrap;
    font-size: small !important;
}

.mep3 {
    font-size: xx-small !important;
}


.mep:hover {
    transform: scale(1.1);
    color: transparent !important;
}

.mep:hover h2 {
    color: transparent !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 34
}