@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --var-primary: #474747;
    --var-secondary: #333;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: "Work Sans", sans-serif;
    --third-font: "Source Sans 3", sans-serif;
    font-family: var(--third-font);

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

body,
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -99;
}

canvas {
    position: fixed;
}

h2 {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 2em;
    color: var(--var-primary);
}

p {
    font-family: var(--third-font);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--var-secondary);
}

.textGradient1 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #ff651d 0%, #dad61e 100%);
    background-clip: text;
    color: transparent;
}

.textGradient2 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #28e431 0%, #006e65 100%);
    background-clip: text;
    color: transparent;
}

.textGradient3 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #a442ff 0%, #234dbe 100%);
    background-clip: text;
    color: transparent;
}

.textGradient4 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #ff1b1b 0%, #4f017c 100%);
    background-clip: text;
    color: transparent;
}

.textGradient5 {
    font-family: var(--primary-font);
    font-weight: 900;
    background: linear-gradient(135deg, #0049d1 0%, #50e5ff 100%);
    background-clip: text;
    color: transparent;
}

.text_hero {
    text-align: center;
    margin-top: 20px;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 3em;
    color: var(--var-primary);
}

.bg-gradient1 {
    background: linear-gradient(135deg, #6b35ff 0%, #76ff63 100%);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: auto auto;
    gap: 1rem;
    max-width: 100vw;
}

.main {
    grid-column: span 2;
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(5px);
    border: .2rem solid rgba(162, 0, 255, 0.103);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: start;

    padding: 1rem;
    gap: 1rem;
    width: min-content;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.295);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    text-decoration: none;
    align-content: center;
    border: .2rem solid rgba(17, 0, 255, 0.11);
    text-wrap: nowrap;
    height: min-content;
    width: min-content;
    align-self: unset;
    position: sticky;
    top: calc(0px + 2rem);
}

.contentresult {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.stepbystep {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.295);
    border: .2rem solid rgba(0, 255, 0, 0.103);
    border-radius: 1rem;
    overflow: hidden;
}

.formulario {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.ui {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: -0.2rem;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 34
}

.button-yellow{
    background: linear-gradient(135deg, #ffff62 0%, #ffbb1c 100%);
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.button-green{
    background: linear-gradient(135deg, #2dfd5d 0%, #03a429 100%);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.button-red{
    background: linear-gradient(135deg, #ff2353 0%, #5e0014 100%);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.button-blue{
    background: linear-gradient(135deg, #0AD1C8 0%, #005f95 100%);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.button-grey{
    background: linear-gradient(135deg, #b3b3b3 0%, #2b2b2b 100%);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.button-orange{
    background: linear-gradient(135deg, #ffa230 0%, #ff2525 100%);
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.buttonSmall {
    font-family: var(--primary-font);
    padding: 0.1rem .5rem;
    border-radius: 0.3rem;
    width: min-content;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.5s;
    text-wrap: nowrap;
    margin: 0px -0.3rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    opacity: 0.9;
}

.buttonSmall .material-symbols-outlined{
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 15
}


.buttonSmall:hover , .buttonBig:hover{
    transform: scale(1.1);
    z-index: 999;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.296);
    opacity: 1;
    
}

.buttonBig {
    font-family: var(--primary-font);
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    width: min-content;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s;
    text-wrap: nowrap;
    margin: 0px -0.2rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    opacity: 0.9;
}

.buttonBig .material-symbols-outlined{
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 32
}


@media print {
    * {
        text-align: left !important;
        color: rgb(0, 0, 0) !important;
        justify-content: start !important;
        align-items: start !important;
    }
}
