@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --var-primary: #474747;
    --var-secondary: #333;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: "Work Sans", sans-serif;
    --third-font: "Source Sans 3", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #ebebeb;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
  }

.text_hero{
    text-align: center;
    margin-top: 20px;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 4em;
    color: var(--var-primary);
}
h2{
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 2em;
    color: var(--var-primary);

}
p{
    font-family: var(--third-font);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--var-secondary);
}

.bg-gradient1{
    background: linear-gradient(135deg, #2a5ffe 0%, #3ac7dc 100%);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
}


.panel_metodos{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.grafico{
    grid-row: span 2
}

.content{
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 1rem;
}

.información{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;

}
.información div{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.metodo{
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.149);
    backdrop-filter: blur(7px);
    
}